SOAP/ConcreteWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1681022574190/OperationImpl/SOAP/ProjectResources" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/Practice20/SOAP/SharedResources/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1681022574190/OperationImpl/SOAP/ProjectResources">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Practice20/SOAP/SharedResources/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Practice20/SOAP/SharedResources/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="TIBCOEMPLOYEEDETAILS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:input"/>
                        <xs:element ref="ns0:output"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="input">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="NAME" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MOBILE" type="xs:string"/>
                        <xs:element name="DESIGNATION" type="xs:string"/>
                        <xs:element name="SALARY" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SOAP">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://localhost:8080/SOAP/ProjectResources/SOAP"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:input"/>
            <wsdl:output message="tns:output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="document" soapAction="/SOAP/ProjectResources/SOAP"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="input">
        <wsdl:part name="part1" element="ns0:input"/>
    </wsdl:message>
    <wsdl:message name="output">
        <wsdl:part name="part1" element="ns0:output"/>
    </wsdl:message>
</wsdl:definitions>